

.form-data{
    margin: 9% auto;
    border: 10px groove #A6CF98;
    padding: 0px 7px 0px 7px;
}
#btn2{
    width: 100px;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 40%;
    background-color:#557C55;
}
.form-data h1{
    font-weight: bold;
    color: #557C55;
}