.Content h1{
    margin: 15px 0px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    color: #132C33;
    text-transform: none;
    text-shadow: none;
    

}