body{
    margin: 0px;
    padding: 0px;
  
    background-color: red;
}

.form-div{
    margin: 3% auto;
    border: 10px groove #017fb5;
    padding: 0px 7px 0px 7px;
 
    
}
.form-div h1{
    font-weight: bold;
    color: #4B6587;
}

#btn1{
    width: 100px;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 40%;
    background-color:#1A374D;
}

